<mat-grid-list cols="4" rowHeight="6rem">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div style="width: 100%; height: 100%;">
            <section style="margin-left: 350px; margin-top: 25px;">
                <button mat-button style="margin-right: 30px;">NOUVEAUTÉS</button>

                <button mat-button [matMenuTriggerFor]="belowMenu" style="margin-right: 30px;">HAUTS</button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>VOIR TOUT</button>
                    <button mat-menu-item>PULL</button>
                    <button mat-menu-item>CHEMISE</button>
                    <button mat-menu-item>SWEAT</button>
                </mat-menu>

                <button mat-button [matMenuTriggerFor]="beforeMenu" style="margin-right: 30px;">BAS</button>
                <mat-menu #beforeMenu="matMenu" yPosition="below">
                    <button mat-menu-item>VOIR TOUT</button>
                    <button mat-menu-item>JEANS</button>
                    <button mat-menu-item>PANTALON</button>
                </mat-menu>


                <button mat-button style="margin-right: 30px;">COSTUMES</button>

                <button mat-button>CHAUSSURES</button>
            </section>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3">
        <div style="width: 100%; height: 100%;">
            <div class="example-action-buttons">
                <button mat-button (click)="renitialiser()"
                    style="width: -webkit-fill-available; height: 50px; border: black solid;">RÉNITIALISER</button>
            </div>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PAR CATÉGORIE
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PAR TAILLE
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PAR COULEUR
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PAR PRIX
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="20">
        <div style="width: 100%; height: 100%;">
            <mat-grid-list cols="{{desired_columns}}" rowHeight="{{desired_rowHeight}}">
                <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">

                    <mat-card class="example-card">
                        <!-- <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{tile.title}}</mat-card-title>
                            <mat-card-subtitle>{{tile.subtitle}}</mat-card-subtitle>
                        </mat-card-header> -->
                        <img style="width: 250px; height: 280px;" mat-card-image src="{{tile.src}}" alt="Photo de produit">
                        <mat-card-content style="height: 75px;">
                            <p>
                                {{tile.content}}
                            </p>
                            <span style="font-weight: bold;">{{tile.price}}$</span>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Ajouter au panier</button>
                        </mat-card-actions>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>