<style>
  /*******/
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .page-footer {
    flex-shrink: 0;
  }
</style>

<app-header></app-header>

<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav mode="over" position="end" style="padding: 20px; max-width: 30%;" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-notification-cards></app-notification-cards>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="wrapper">
      <main class="page-body" [class]="obtenirClasseBackground()">
        <router-outlet (activate)="onActivate($event)"></router-outlet>                
      </main>
      <app-footer class="page-footer"></app-footer>
      </div>
    </mat-sidenav-content>    
  </mat-sidenav-container>
</div> -->

<router-outlet></router-outlet>

<!-- <app-dialog-message></app-dialog-message>
<app-spinner></app-spinner>
<app-stepprogressbar></app-stepprogressbar> -->