<div style="width: 100%;">
    <h1 mat-dialog-title>Ajouter un produit</h1>
    <div class="row">
        <div mat-dialog-content class="column left" style=" min-width: 570px;">
            <mat-form-field style="width: 100%;">
                <mat-label>Nom de produit</mat-label>
                <input matInput placeholder="Ajouter nom de produit" [(ngModel)]="data.nom">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="data.description" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Prix</mat-label>
                <input matInput type="number" class="right-align" [(ngModel)]="data.prix">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <app-upload (imageSourceEvent)="addImageSource($event)"></app-upload>

            <div style="width: 99%;overflow-y: auto;">
                <mat-list-item *ngFor="let image of data.images">
                    <img style="width: 150px; height: 150px; padding: 2px;" src="{{image.url}}"
                        alt="Photo de produit" />
                </mat-list-item>
            </div>

        </div>
        <div class="column right" style="margin-left: 10px; min-width: 200px;">
            <span *ngIf="!isValid()">Complèter les informations suivantes</span>
            <ul>
                <li class="RequiredFields" *ngIf="!nomValidation()">Nom de produit</li>
                <li class="RequiredFields" *ngIf="!descriptionValidation()">Description</li>
                <li class="RequiredFields" *ngIf="!prixValidation()">Prix</li>
                <li class="RequiredFields" *ngIf="!imageValidation()">Charger et sauvegarder une image</li>
            </ul>
        </div>
    </div>
    <div mat-dialog-actions style="justify-content: space-evenly;">
        <button mat-button (click)="onNoClick()">Annuler</button>
        <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="onAddClick()"
            cdkFocusInitial>Ajouter</button>
    </div>
</div>